[BOT]
TOKEN=
SDXL_SOURCE=LOCAL

[API]
API_KEY=
API_HOST=https://api.stability.ai

[LOCAL]
SERVER_ADDRESS=127.0.0.1:8188
LLM_MODEL_LOCATION=/home/admin/models/IF_PromptMKR_GPTQ

[LOCAL_TXT2IMG]
CONFIG=comfyUI-workflows/text2img_config.json
PROMPT_NODES=6
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
MODEL_NODE=4
LORA_NODE=11
EMPTY_IMAGE_NODE=20
DENOISE_NODE=3

[LOCAL_IMG2IMG]
CONFIG=comfyUI-workflows/img2img_config.json
PROMPT_NODES=6
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LATENT_IMAGE_NODE=15

[LOCAL_UPSCALE]
CONFIG=comfyUI-workflows/upscale_config.json
PROMPT_NODES=6
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=29

[LOCAL_UPSCALE_SDXL]
CONFIG=comfyUI-workflows/upscale_config_sdxl.json
PROMPT_NODES=33
NEG_PROMPT_NODES=34
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=46

[LOCAL_TXT2VID]
CONFIG=comfyUI-workflows/animatediff_config.json
PROMPT_NODES=3
NEG_PROMPT_NODES=6
RAND_SEED_NODES=123
MODEL_NODE=142
LORA_NODE=140
DENOISE_NODE=7

[LOCAL_TXT2IMG_SDXL]
CONFIG=comfyUI-workflows/text2img_configSDXL.json
PROMPT_NODES=21,22
NEG_PROMPT_NODES=40
RAND_SEED_NODES=12
MODEL_NODE=36
LORA_NODE=11
DENOISE_NODE=63
EMPTY_IMAGE_NODE=55

[LOCAL_IMG2IMG_SDXL]
CONFIG=comfyUI-workflows/img2img_configSDXL.json
PROMPT_NODES=21,22
NEG_PROMPT_NODES=7,13
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LATENT_IMAGE_NODE=15

[LOCAL_DETAIL_SDXL]
CONFIG=comfyUI-workflows/adddetail_sdxlconfig.json
PROMPT_NODES=21,23
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=33

[LOCAL_TXT2IMG_LLM]
CONFIG=comfyUI-workflows/enhance_text2img_config.json
PROMPT_NODES=24
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LLM_MODEL_NODE=14
EMPTY_IMAGE_NODE=34

[LOCAL_TXT2IMG_LLM_SDXL]
CONFIG=comfyUI-workflows/enhance_text2img_sdxlconfig.json
PROMPT_NODES=21
NEG_PROMPT_NODES=40
RAND_SEED_NODES=12
MODEL_NODE=36
LORA_NODE=11
DENOISE_NODE=62
LLM_MODEL_NODE=63
EMPTY_IMAGE_NODE=55

[BLOCKED_WORDS]
WORDS=KIDS,KID,CHILDREN,CHILD,LOLI