[BOT]
TOKEN=
MUSIC_ENABLED=False
SPEECH_ENABLED=False
USE_EMBEDDED_COMFY=True

[LOCAL]
SERVER_ADDRESS=127.0.0.1:8188
LLM_MODEL_LOCATION=/home/admin/models/IF_PromptMKR_GPTQ

[EMBEDDED]
SERVER_PORT=8188

[SDXL_GENERATION_DEFAULTS]
MODEL=dreamshaperXL10_alpha2Xl10.safetensors
NUM_STEPS=8
CFG_SCALE=2.0
TURBO_ENABLED=True
BATCH_SIZE=4
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2

[SD15_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
BATCH_SIZE=4
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=ddim
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2

[VIDEO_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
TURBO_ENABLED=True
BATCH_SIZE=1
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
CLIP_SKIP=-2

[CASCADE_GENERATION_DEFAULTS]
MODEL=cascade/stable_cascade_stage_c.safetensors
NUM_STEPS=20
CFG_SCALE=4.0
BATCH_SIZE=4
SAMPLER=euler_ancestral
SCHEDULER=simple

[MUSICGEN_DEFAULTS]
DURATION=10.0
CFG=3.0
TOP_K=250
TOP_P=0.0
TEMPERATURE=1.0

[TORTOISE_DEFAULTS]
TOP_P=0.8
TEMPERATURE=0.3
VOICE=hotdad

[LOCAL_TORTOISE]
CONFIG=comfyUI-workflows/tortoise.json
PROMPT_NODES=104
GENERATOR_NODE=104
VOICE_NODES=104
RAND_SEED_NODES=104

[LOCAL_MUSICGEN]
CONFIG=comfyUI-workflows/musicgen.json
PROMPT_NODES=47
GENERATOR_NODE=47
RAND_SEED_NODES=47

[LOCAL_MUSICGEN_CONTINUE]
CONFIG=comfyUI-workflows/musicgen_extend.json
PROMPT_NODES=4
GENERATOR_NODE=4
RAND_SEED_NODES=4
FILE_INPUT_NODES=1

[BLOCKED_WORDS]
WORDS=KIDS,KID,CHILDREN,CHILD,LOLI