[BOT]
TOKEN=
MUSIC_ENABLED=False
SPEECH_ENABLED=False

[LOCAL]
SERVER_ADDRESS=127.0.0.1:8188
LLM_MODEL_LOCATION=/home/admin/models/IF_PromptMKR_GPTQ

[SDXL_GENERATION_DEFAULTS]
MODEL=dreamshaperXL10_alpha2Xl10.safetensors
NUM_STEPS=8
CFG_SCALE=2.0
TURBO_ENABLED=True
BATCH_SIZE=4
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral

[SD15_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
BATCH_SIZE=4
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=ddim

[VIDEO_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
TURBO_ENABLED=True
BATCH_SIZE=4
ASPECT_RATIO=1024 x 1024  (square)
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral

[MUSICGEN_DEFAULTS]
DURATION=10.0
CFG=3.0
TOP_K=250
TOP_P=0.0
TEMPERATURE=1.0

[TORTOISE_DEFAULTS]
TOP_P=0.8
TEMPERATURE=0.3
VOICE=hotdad

[LOCAL_TXT2IMG]
CONFIG=comfyUI-workflows/text2img_config.json
PROMPT_NODES=6
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
MODEL_NODE=4
LORA_NODE=11
EMPTY_IMAGE_NODE=20
DENOISE_NODE=3

[LOCAL_IMG2IMG]
CONFIG=comfyUI-workflows/img2img_config.json
PROMPT_NODES=6
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LATENT_IMAGE_NODE=15

[LOCAL_UPSCALE]
CONFIG=comfyUI-workflows/upscale_config.json
PROMPT_NODES=
NEG_PROMPT_NODES=
RAND_SEED_NODES=
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=29

[LOCAL_UPSCALE_SDXL]
CONFIG=comfyUI-workflows/upscale_config_sdxl.json
PROMPT_NODES=33
NEG_PROMPT_NODES=34
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=46

[LOCAL_TXT2VID]
CONFIG=comfyUI-workflows/animatediff_config.json
PROMPT_NODES=3
NEG_PROMPT_NODES=6
RAND_SEED_NODES=123
MODEL_NODE=142
LORA_NODE=140
DENOISE_NODE=7

[LOCAL_TXT2IMG_SDXL]
CONFIG=comfyUI-workflows/text2img_configSDXL.json
PROMPT_NODES=21
NEG_PROMPT_NODES=40
RAND_SEED_NODES=12
DENOISE_NODE=63
MODEL_NODE=65
LORA_NODE=67
EMPTY_IMAGE_NODE=65
TURBO_LORA_NODE=68

[LOCAL_IMG2IMG_SDXL]
CONFIG=comfyUI-workflows/img2img_configSDXL.json
PROMPT_NODES=21,22
NEG_PROMPT_NODES=7,13
RAND_SEED_NODES=12
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LATENT_IMAGE_NODE=15
TURBO_LORA_NODE=23

[LOCAL_DETAIL_SDXL]
CONFIG=comfyUI-workflows/adddetail_sdxlconfig.json
PROMPT_NODES=21
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12,40
FILE_INPUT_NODES=13
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=36
TURBO_LORA_NODE=35

[LOCAL_TXT2IMG_LLM]
CONFIG=comfyUI-workflows/enhance_text2img_config.json
PROMPT_NODES=24
NEG_PROMPT_NODES=7
RAND_SEED_NODES=12
MODEL_NODE=4
LORA_NODE=11
DENOISE_NODE=3
LLM_MODEL_NODE=14
EMPTY_IMAGE_NODE=34

[LOCAL_TXT2IMG_LLM_SDXL]
CONFIG=comfyUI-workflows/enhance_text2img_sdxlconfig.json
PROMPT_NODES=21
NEG_PROMPT_NODES=40
RAND_SEED_NODES=12
MODEL_NODE=36
LORA_NODE=11
DENOISE_NODE=62
LLM_MODEL_NODE=63
EMPTY_IMAGE_NODE=55

[LOCAL_TORTOISE]
CONFIG=comfyUI-workflows/tortoise.json
PROMPT_NODES=104
GENERATOR_NODE=104
VOICE_NODES=104
RAND_SEED_NODES=104

[LOCAL_MUSICGEN]
CONFIG=comfyUI-workflows/musicgen.json
PROMPT_NODES=47
GENERATOR_NODE=47
RAND_SEED_NODES=47

[LOCAL_MUSICGEN_CONTINUE]
CONFIG=comfyUI-workflows/musicgen_extend.json
PROMPT_NODES=4
GENERATOR_NODE=4
RAND_SEED_NODES=4
FILE_INPUT_NODES=1

[BLOCKED_WORDS]
WORDS=KIDS,KID,CHILDREN,CHILD,LOLI